<%- include('../widgets/header') %>
<script src="/socket.io/socket.io.js"></script>
<script>const userInfo = <%- JSON.stringify(userInfo) %>;</script>
<div class="main">
<style>
    h1{
        font-size: var(--big-font-size);
        color: chartreuse;
    }
    a {
      color: yellow;
    }
    a:link {
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    a:active {
      text-decoration: underline;
    }
    .main {
        flex-flow: column;
        overflow: auto;
    }
    .about-me {
        padding-top: 0;
        display: block;
    }
    .about-pic {
        float: left;
        width: 25vh;
        height: auto;
        margin: 0;
        padding: 0;
        margin-right: 1em;
        margin-bottom: 1em;
        border-radius: 1em;
        border: 2px solid black;
    }
    .about-me-text {
        overflow: auto;
        display: flex;
        flex-flow: column wrap;
    }
    .about-main, .about-me {
        padding: 1em;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-shadow:
            -1px -1px 0 #000,  
             1px -1px 0 #000,
            -1px  1px 0 #000,
             1px  1px 0 #000;
    }
</style>
    <div class="about-main">
        <h1>Quarto Online</h1><br>
        <p>This web application was created within the framework of the Türr István Technical School exam project in Baja.</p>
        <p>The aim of the project is to demonstrate the implementation of an online multi-user simple game using the Node.js server-side javascript runtime environment and the Socket.io two-way and low-latency communication web socket technologies.</p>
    </div>
    <div class="about-me">
        <img class="about-pic" src = "/media/me.jpg" alt="smokey2k"/>
            <h1>About me</h1>
            <p>My name is Dechev Dániel Ivanov</p>
            <p>Through my technical mindset and commitment to IT, I have been interested in programming as a creative means of expression since I was young.</p>
            <p>This project is an interesting journey into the world of implementing online multi-user programs.</p><br>
            <a href="https://github.com/datas2k" target="_blank">My github profile.</a><br><br>
            <a href="https://www.linkedin.com/in/smokey2k/" target="_blank">My linkedIn profile.</a>
    </div>
</div>
<%- include('../widgets/footer') %>
<%- include('../footer') %>