<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/wrapper.css">
    <link rel="shortcut icon" href="/media/favicon.gif" type="image/x-icon">
    <link rel="stylesheet" href="/css/widgets/logo.css">
    <link rel="stylesheet" href="/css/widgets/buttons.css">
    <link rel="stylesheet" href="/css/widgets/scrollbars.css">
    <link rel="stylesheet" href="/css/widgets/chat.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    
    <title>OnlineQuarto</title>
</head>
<body>
    <div class="wrapper">
    <div class="header">
        <div class="header-logo"><img src = "/media/QUARTO-LOGO.svg" alt="QUARTO"/></div>    
        <div class="header-menu">
            <ul class="header-menu-list">
                <li class="header-menu-item">
                    <form id="lobby-link" action="/lobby" method="get">
                        <button class="button button_lobby" type="submit">lobby</button>
                    </form>
                </li>
                <li class="header-menu-item">
                    <form id="highscore-link" action="/highscore" method="get">
                        <button class="button button_highscore" type="submit">highscore</button>
                    </form>
                </li>
                <li class="header-menu-item">
                    <form id="help-link" action="/help" method="get">
                        <button class="button button_help" type="submit">help</button>
                    </form>
                </li>
                <li class="header-menu-item">
                    <form id="about-link" action="/about" method="get">
                        <button class="button button_about" type="submit">about</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>

        