.main-tools, .create-button, .create-button-form {
    display: flex;
}

.main-tools {
    overflow: auto;
    margin: 0.5vh;
    box-shadow: rgba(0, 0, 0, 0.459) 0.8vw 0.4vw 0; 
    border-radius: 1.5vw 1.5vw 0 0;
    min-width: 16ch
}

.create-button-form {
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    white-space: nowrap;
    padding: 1vw;
}

.create-button {
    white-space: nowrap;
    height: fit-content;
    width: fit-content;
}

@media screen and (orientation: portrait) {
    .main {
        flex-flow: column;
        justify-content: flex-start;
        flex: auto;
    }
    .main-tools {
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        min-height: 9vh;
    }
}
  
@media screen and (orientation: landscape) {
    .main {
        flex-flow: row;
        justify-content: flex-start;
    }
    .main-tools {
        flex-flow: column;
        align-items: flex-start;
        width: fit-content;
    }
    .create-button {
        justify-content: center;
        align-items: center;
    }
} 