<%- include('../header') %>
<link rel="stylesheet" href="/css/login/main.css">
    <div class="root">
        <h1>Login</h1>
        <div class="rootError"><%= errorMsg %></div>
        <div class="rootForm">
            <form class="Form" method='post' action='/login'>
                <input type='text' name='username' placeholder='Username..' required />
                <input type='password' name='password' placeholder='Password..' required />
                
                <button type='submit'>SUBMIT</button>
            </form>
        </div>
        <div class="rootButtons">
            <a href='/'>Back</a>
        </div>
    </div>
<%- include('../footer') %>