<%- include('../header') %>
<link rel="stylesheet" href="/css/login/main.css">
<main>
    <div class="root">
        <h1>Wellcome in Quatro land</h1>
        <div class="rootButtons">
            <a href='/login'>login</a>
            <a href='/register'>register</a>
        </div>
    </div>
    
</main>
<%- include('../footer') %>