<%- include('../header') %>
<link rel="stylesheet" href="/css/login/main.css">
<div class="webgl-container">
    <%- include('3Dbackground') %>
</div>
<main>
    <div class="root">
        <h1>Session already occupied</h1><br>
        <h2>
            You have been registered, but you can't login in this session since it's occupied by another user.<br>
            Try to login in a separate session !<br>
            For example open a new incognito window or another browser and login there.    
        </h2>
        <div class="rootButtons">
            <a href='/'>Back</a>
        </div>
    </div>
    
</main>
<%- include('../footer') %>