.game, .game-tools, .game-tools-header, .game-tools-content,
.game-board, .game-board-header, .game-board-content
{
    display: flex;
}

.main {
    flex-flow: column;
}

.game {
    min-height: 70%;
    height: 70%;
    width: 100%;
}

.game-tools {
    overflow: auto;
    margin: 0.5vh;
    box-shadow: rgba(0, 0, 0, 0.459) 0.8vw 0.4vw 0; 
    border-radius: 1.5vw 1.5vw 0 0;
    min-width: 16ch;
    
}
.game-tools-header {
    height: fit-content;
    width: 100%;
    padding: 0.5vh;
    padding-left: 4vh;
    padding-right: 4vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color: #2b2828;
    background: radial-gradient(circle, rgb(103, 103, 103) 0%, rgb(94, 94, 94) 20%, rgb(0, 0, 0) 100%);
    border-radius: 1.5vw 1.5vw 0 0;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}
.game-tools-content {
    flex: auto;
    width: 100%;
    border: 1px solid black;
    background-color: rgba(65, 64, 64, 0.703);
}

.game-board {
    flex-flow: column;
    flex: auto;
}
.game-board-header {
    height: fit-content;
    width: 100%;
    padding: 0.5vh;
    padding-left: 4vh;
    padding-right: 4vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color: #2b2828;
    background: radial-gradient(circle, rgb(103, 103, 103) 0%, rgb(94, 94, 94) 20%, rgb(0, 0, 0) 100%);
    border-radius: 1.5vw 1.5vw 0 0;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}
.game-board-content {
    flex: auto;
    width: 100%;
    border: 1px solid black;
    background-color: black;
    background: radial-gradient(circle, rgba(103, 103, 103, 0.698) 0%, rgba(94, 94, 94, 0.703) 20%, rgba(0, 0, 0, 0.66) 100%);

}



@media screen and (orientation: portrait) {
    .game {
        flex-flow: column;
    }
    .game-tools {
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
}
  
@media screen and (orientation: landscape) {
    .game {
        flex-flow: row;
    }
    .game-tools {
        flex-flow: column;
        align-items: flex-start;
        width: fit-content;
    }
}