.main, .main-tools, .create-button, .create-button-form {
    display: flex;
}

.main {
    flex: auto;
    flex-flow: column;
    overflow: auto;
    width: 100%;
    padding: 1vh;
    justify-content: flex-start;
    
}

.game {
    height: 70%;    
    background-color: red;
}



@media screen and (orientation: portrait) {
}
  
@media screen and (orientation: landscape) {
}