main {
    display: flex;
    flex-flow: column;
    width: calc(100% - 2ch);
    height: calc(100% - 2ch);
    margin: 1ch;
}

main ul {
    list-style: none;
    padding-left: 0;
    padding: 1ch;
}

.main-header {
    background-color: aqua;
    padding: 1ch;
}

.main-main {
    flex: auto;
    display: flex;
    padding: 1ch;
    overflow: auto;
    flex-flow: column;
}

.webgl-container {
    width: 100%;
    height: 70%;
    background-color: blueviolet;
}

#gameChat {
    display: flex;
    flex-flow: column;
    height: 30%;
    width: 100%;
    padding: 1ch;
}

#gameChatDisplay {
    flex: auto;
    width: 100%;
    background: rgb(58,103,138);
    background: linear-gradient(0deg, rgba(58,103,138,1) 0%, rgba(255,255,255,0) 100%);
    border: 1px solid black;
    padding: 1ch;
    border-radius: 1ch 1ch 0 0;
    overflow: auto;
}
#gameChatInput {
    height: fit-content;
    border: 1px solid black;
    padding: 0.7ch;
    display: flex;
    flex-flow: row;
}

#gameChatInput input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3ch;
    padding: 0.5ch;
    flex: auto;
    margin-right: 0.5ch;
}

#gameChatInput button {
    font-size: 3ch;
    padding-left: 1.5ch;
    padding-right: 1.5ch;
}

.main-footer {
    border-radius: 0.7ch;
    border: 5px outset rgb(158, 107, 40);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3ch;
    padding: 0.5ch;
    background-color: rgb(128, 73, 0);
    border-radius: 0.7ch;
    color: lightgray;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;    
}
#logout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3ch;
    background-color: silver;
    padding: 10px;
    border-radius: 10px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.message::before {
    content: '';
    position: relative;
    display: block;
    width: 0.5ch;
    z-index: 1;
    border-style: solid;
    border-color: transparent silver transparent transparent;
    border-width: 10px 15px 10px 0;
    top: 18px;
    left: -25px;
    margin-top: -20px;
}

