* {
    box-sizing: border-box;
    margin: 0;
}
html, body, .wrapper {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

.wrapper {
    background-color: rgb(70, 81, 87);
}

main {
    display: flex;
    flex-flow: column;
    width: calc(100% - 2ch);
    height: calc(100% - 2ch);
    margin: 1ch;
}

.main-header {
    background-color: aqua;
    padding: 1ch;
}

.main-footer {
    border-radius: 0.7ch;
    border: 5px outset rgb(158, 107, 40);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3ch;
    padding: 0.5ch;
    background-color: rgb(128, 73, 0);
    border-radius: 0.7ch;
    color: lightgray;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;    
}
#logout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3ch;
    background-color: silver;
    padding: 10px;
    border-radius: 10px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.message::before {
    content: '';
    position: relative;
    display: block;
    width: 0.5ch;
    z-index: 1;
    border-style: solid;
    border-color: transparent silver transparent transparent;
    border-width: 10px 15px 10px 0;
    top: 18px;
    left: -25px;
    margin-top: -20px;
}


