<style>
.footer, .footer-menu-left-list, .footer-menu-right-list {
    display: flex;
}
.footer {
    border-radius: 0 0 0.7vw 0.7vw;
    background: radial-gradient(circle, rgba(103, 103, 103, 0.698) 0%, rgba(94, 94, 94, 0.703) 20%, rgba(0, 0, 0, 0.66) 100%);
    color: lightgray;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.459) 0.3vw 0.3vw 0;
    padding: 0.5vw;
    font-size: var(--small-font-size);
}

.footer-menu-left-list, .footer-menu-right-list {
    flex-flow: row wrap;
    list-style: none;
    padding: 0;
}

.footer-menu-item {
    margin: 0.5vh;
}
@media screen and (orientation: portrait) {
}

@media screen and (orientation: landscape) {
} 
</style>
<div class="footer">
    <div class="footer-menu-left">
        <ul class="footer-menu-left-list">
            <% if(userInfo.route == 'lobby'){ %>
            <li class="footer-menu-item">
                <form method="post" action="/game" class="create-game-form">
                    <button id="submit-button" class="button button_create" type="submit">Create Game</button>
                </form>
            </li>
            <% } %>
            <% if(userInfo.game != 'null' && userInfo.route != 'game'){ %>
                <li class="footer-menu-item">
                    <form id="back-to-game" action="/game" method="get">
                        <button class="button button_game" type="submit">back to game</button>
                    </form>
                </li>
            <% } %>
        </ul>
    </div>
    <div class="footer-menu-right">
        <ul class="footer-menu-right-list">
            <% if(userInfo.route == 'game'){ %>
                <li class="footer-menu-item button button_leave">Leave</li>
            <% } %>
            <li class="footer-menu-item">
                <form id="logout" action="/logout" method="post">
                    <button class="button button_logout" type="submit">logout</button>
                </form>
            </li>
        </ul>
    </div>
</div>
<script>
    $( document ).ready( glowRoute() );

    function glowRoute() {
        if (userInfo.route != 'game') {
            document.querySelector(`.button_${userInfo.route}`).style.boxShadow = "0px 0px 20px yellow";    
        }
    }
</script>