<style>
    .game-board-container {
        display: flex;
        flex-flow: column;
        min-height: 70%;
        max-height: 70%;
        width: 100%;
        justify-content: stretch;
    }
    .game-status {
        width: 100%;
        min-height: 2em;
        max-height: 2em;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
        border: 1px solid black;
        border-radius: 1vh;
        text-shadow:
        -2px -2px 0 #000,  
        2px -2px 0 #000,
        -2px  2px 0 #000,
        2px  2px 0 #000;
        font-size: var(--small-font-size);
        background: radial-gradient(circle, rgb(0, 174, 255) 0%, rgb(37, 134, 179) 20%, rgb(9, 62, 87) 100%);
    }
    #gameTable{
        align-self: center;
        flex: auto;
        display: grid;
        grid-template-columns: repeat(15, minmax(2vh,4vh));
        grid-template-rows: repeat(15, auto);
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
        border: 1px solid black;
        border-radius: 5px;
        width: fit-content;
    }
    #player1, #player2, #status {
        padding: 1em;
    }

    .cell{
        border: 1px solid black;
        text-align: center;
        cursor: pointer;
        background: linear-gradient(0deg, rgb(78, 189, 121) 0%, rgb(50, 119, 76) 100%);
    }

    .cell:hover{
        box-shadow: inset 0 0 8px red;
    }
</style>

<div class="game-board-container">
    <div id="gameTable">
        <% for(let i=0; i<225; i++) { %>
        <div class="cell" id="cell<%= i %>" onclick="setPos('<%= i %>')"></div>
        <% } %> 
    </div>
    <div class="game-status">
        <p id="player1">player 1</p><p id="status">status text</p> <p id="player1">player 2</p>
    </div>
</div>
<script>
    function setPos(id){
    console.log(id);
}
</script>

