<style>
.game-container {  
   height: 70%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-auto-columns: 1fr;
   gap: 0px 0px;
   grid-auto-flow: row;
   grid-template-areas:
      "status-container status-container status-container status-container status-container status-container status-container status-container status-container status-container"
      "selected-container selected-container figures figures figures figures figures figures figures figures"
      "selected-container selected-container figures figures figures figures figures figures figures figures"
      "board board board board board board board board board board"
      "board board board board board board board board board board"
      "board board board board board board board board board board"
      "board board board board board board board board board board"
      "board board board board board board board board board board"
      "board board board board board board board board board board"
      "board board board board board board board board board board"
      "board board board board board board board board board board";
}

.figures-container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "figure-container-0 figure-container-1 figure-container-2 figure-container-3 figure-container-4 figure-container-5 figure-container-6 figure-container-7"
    "figure-container-8 figure-container-9 figure-container-10 figure-container-11 figure-container-12 figure-container-13 figure-container-14 figure-container-15";
  grid-area: figures;
}

.figure-container-0 { grid-area: figure-container-0; }
.figure-container-1 { grid-area: figure-container-1; }
.figure-container-2 { grid-area: figure-container-2; }
.figure-container-3 { grid-area: figure-container-3; }
.figure-container-4 { grid-area: figure-container-4; }
.figure-container-5 { grid-area: figure-container-5; }
.figure-container-6 { grid-area: figure-container-6; }
.figure-container-7 { grid-area: figure-container-7; }
.figure-container-8 { grid-area: figure-container-8; }
.figure-container-9 { grid-area: figure-container-9; }
.figure-container-10 { grid-area: figure-container-10; }
.figure-container-11 { grid-area: figure-container-11; }
.figure-container-12 { grid-area: figure-container-12; }
.figure-container-13 { grid-area: figure-container-13; }
.figure-container-14 { grid-area: figure-container-14; }
.figure-container-15 { grid-area: figure-container-15; }

.board-container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "cell-container-0 cell-container-1 cell-container-2 cell-container-4"
    "cell-container-5 cell-container-6 cell-container-7 cell-container-8"
    "cell-container-9 cell-container-10 cell-container-11 cell-container-12"
    "cell-container-13 cell-container-14 cell-container-15 cell-container-16";
  grid-area: board;
}
.cell-container-1 { grid-area: cell-container-1; }
.cell-container-0 { grid-area: cell-container-0; }
.cell-container-2 { grid-area: cell-container-2; }
.cell-container-4 { grid-area: cell-container-4; }
.cell-container-5 { grid-area: cell-container-5; }
.cell-container-6 { grid-area: cell-container-6; }
.cell-container-7 { grid-area: cell-container-7; }
.cell-container-8 { grid-area: cell-container-8; }
.cell-container-9 { grid-area: cell-container-9; }
.cell-container-10 { grid-area: cell-container-10; }
.cell-container-11 { grid-area: cell-container-11; }
.cell-container-12 { grid-area: cell-container-12; }
.cell-container-13 { grid-area: cell-container-13; }
.cell-container-14 { grid-area: cell-container-14; }
.cell-container-15 { grid-area: cell-container-15; }
.cell-container-16 { grid-area: cell-container-16; }
.selected-container { grid-area: selected-container; }
.status-container { grid-area: status-container; }
</style>

<div class="game-container">
   <div class="status-container">status</div>
   <div class="selected-container">S</div>
   <div class="figures-container">
     <div class="figure-container-0">f</div>
     <div class="figure-container-1">f</div>
     <div class="figure-container-2">f</div>
     <div class="figure-container-3">f</div>
     <div class="figure-container-4">f</div>
     <div class="figure-container-5">f</div>
     <div class="figure-container-6">f</div>
     <div class="figure-container-7">f</div>
     <div class="figure-container-8">f</div>
     <div class="figure-container-9">f</div>
     <div class="figure-container-10">f</div>
     <div class="figure-container-11">f</div>
     <div class="figure-container-12">f</div>
     <div class="figure-container-13">f</div>
     <div class="figure-container-14">f</div>
     <div class="figure-container-15">f</div>
   </div>
   <div class="board-container">
     <div class="cell-container-1">c</div>
     <div class="cell-container-0">c</div>
     <div class="cell-container-2">c</div>
     <div class="cell-container-4">c</div>
     <div class="cell-container-5">c</div>
     <div class="cell-container-6">c</div>
     <div class="cell-container-7">c</div>
     <div class="cell-container-8">c</div>
     <div class="cell-container-9">c</div>
     <div class="cell-container-10">c</div>
     <div class="cell-container-11">c</div>
     <div class="cell-container-12">c</div>
     <div class="cell-container-13">c</div>
     <div class="cell-container-14">c</div>
     <div class="cell-container-15">c</div>
     <div class="cell-container-16">c</div>
   </div>
  </div>