<style>
    .quarto-login-logo{
        display: flex;
        height: auto;
        width: 100%;
    }
</style>
<div class="quarto-login-logo"><img src = "/media/QUARTO-LOGO.svg" alt="QUARTO"/></div>