<style>
    .quarto-logo, .quarto-login-logo{
        display: flex;
        height: auto;
        width: 100%;
        padding: 0.5vh;
    }

    @media screen and (orientation: portrait) {
        .quarto-logo {
            width: 70%;
        }
    }
    @media screen and (orientation: landscape) {
        .quarto-logo {
            width: 20%;
        }
    } 
</style>
<div class="quarto-logo"><img src = "/media/QUARTO-LOGO.svg" alt="QUARTO"/></div>