<style>
    .user-info {
    overflow: hidden;
    position: absolute;
    z-index: 10;
    right: 0;
    background-color: brown;
    width: fit-content;
    height: fit-content;
    padding-left: 1ch;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.459) 0.5ch 0.5ch 0;
}
.user-info-table {
    width: fit-content;
    height: fit-content;
    background-color: rgb(0, 66, 66);
    list-style: none;
    font-family: monospace;
}
.user-info-table td {
    text-align: right;
    color: white;
    background-color: rgb(3, 143, 143);
    padding: 0.5vh;
    font-size: var(--tiny-font-size);
}
</style>

<div class="user-info">
    <table class="user-info-table">
        <tbody>
            <% for(const p in userInfo) {  %>
            <tr>
                <td><%= userInfo[p] %></td>
                <td><%= p %></td>
            </tr>
             <% } %>
             <tr>
                <td id="socket"></td>
                <td>socket</td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    const panel = document.querySelector('.user-info');
    let state = 0;
    toggle(panel);
    
    panel.addEventListener('click', (event)=>{
        toggle(panel);
    });
    
    function toggle(panel) {
        if (state == 0) {
           state = 1;
           panel.style.width = "1ch";
           
        } else {
            state = 0;
            panel.style.width = "fit-content";
        }
    }
</script>
