/*
    The buttons style sheets
*/

.button_room {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    text-transform: uppercase;
    border-radius: 1vw 0 0 1vw;
    border: 1px solid black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0.5vh;
    padding-left: 2vh;
    padding-right: 2vh;
    text-align: center;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
    box-shadow: rgba(0, 0, 0, 0.459) 0.2ch 0.2ch 0;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    text-transform: uppercase;
    border-radius: 0 0.7ch 0 0.7ch;
    border: 1px solid black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 2vw;
    padding-left: 1vw;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
    box-shadow: rgba(0, 0, 0, 0.459) 0.2ch 0.2ch 0;
}

.button::before{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    position: relative;
    border-radius: 0 0.7ch 0 0.7ch;
    width: fit-content;
    left: -1vw;
    padding: 0;
    padding-left: 0.5ch;
    padding-right: 0.5ch;
    margin: 0;
    white-space: nowrap;
    box-shadow: rgba(0, 0, 0, 0.459) 0.2ch 0.1ch 0;
}

.button_logout {
    color: white;
    background: radial-gradient(circle, rgb(255, 0, 0) 0%, rgb(179, 37, 37) 20%, rgb(87, 9, 9) 100%);
}
    .button_logout::before{
        content: "L";
        background-color: white;
        color: red;    
    }
    
.button_create {
    color: white;
    background: radial-gradient(circle, rgba(35,255,0,1) 0%, rgb(37, 179, 37) 20%, rgb(9, 87, 9) 100%);
}
    .button_create::before{
        content: "C";
        background-color: white;
        color: green;    
    }
    
.button_send {
    color: white;
    background: radial-gradient(circle, rgb(255, 187, 0) 0%, rgb(179, 153, 37) 20%, rgb(87, 69, 9) 100%);
}
    .button_send::before{
        content: "S";
        background-color: white;
        color: green;    
    }

.button_game {
    color: white;
    background: radial-gradient(circle, rgb(0, 76, 255) 0%, rgb(37, 80, 179) 20%, rgb(9, 32, 87) 100%);
}
    .button_game::before{
        content: "G";
        background-color: white;
        color: rgb(79, 79, 255);    
    }

.button_ok {
    color: white;
    background: radial-gradient(circle, rgb(71, 226, 79) 0%, rgb(50, 158, 77) 20%, rgb(28, 87, 38) 100%);
}
    .button_ok::before{
        content: "O";
        background-color: white;
        color: rgb(71, 226, 79);    

    }

.button_cancel {
    color: white;
    background: radial-gradient(circle, rgb(255, 0, 0) 0%, rgb(179, 37, 37) 20%, rgb(87, 9, 9) 100%);
}
    .button_cancel::before{
        content: "C";
        background-color: white;
        color: red;    
    }

.button_leave {
    color: white;
    background: radial-gradient(circle, rgb(71, 226, 184) 0%, rgb(50, 158, 129) 20%, rgb(28, 87, 71) 100%);
}
    .button_leave::before{
        content: "L";
        background-color: white;
        color: rgb(71, 226, 184);    

    }

.button_lobby {
    color: white;
    background: radial-gradient(circle, rgb(255, 102, 0) 0%, rgb(179, 94, 37) 20%, rgb(87, 36, 9) 100%);
}
    .button_lobby::before{
        content: "L";
        background-color: white;
        color: rgb(255, 102, 0);    
    }    

.button_highscore {
    color: white;
    background: radial-gradient(circle, rgb(0, 174, 255) 0%, rgb(37, 134, 179) 20%, rgb(9, 62, 87) 100%);
}
    .button_highscore::before{
        content: "H";
        background-color: white;
        color: rgb(0, 174, 255);    
    }
    
.button_help {
    color: white;
    background: radial-gradient(circle, rgb(68, 255, 0) 0%, rgb(122, 179, 37) 20%, rgb(61, 87, 9) 100%);
}
    .button_help::before{
        content: "H";
        background-color: white;
        color: rgb(68, 255, 0);
    }

.button_about {
    color: white;
    background: rgb(231, 231, 231);
    background: radial-gradient(circle, rgb(231, 231, 231) 0%, rgb(146, 146, 146) 20%, rgb(61, 61, 61) 100%);
}
    .button_about::before{
        content: "A";
        color: gray;
        background-color: rgb(231, 231, 231);
        
    }


.button_red {
    color: white;
    background: radial-gradient(circle, rgb(255, 0, 0) 0%, rgb(179, 37, 37) 20%, rgb(87, 9, 9) 100%);
}
.button_green {
    color: white;
    background: radial-gradient(circle, rgba(35,255,0,1) 0%, rgb(37, 179, 37) 20%, rgb(9, 87, 9) 100%);
}
.button_blue {
    color: white;
    background: radial-gradient(circle, rgb(0, 174, 255) 0%, rgb(37, 134, 179) 20%, rgb(9, 62, 87) 100%);    
}
.button_orange {
    color: white;
    background: radial-gradient(circle, rgb(255, 102, 0) 0%, rgb(179, 94, 37) 20%, rgb(87, 36, 9) 100%);    
}
.button_purple {
    color: white;
    background: radial-gradient(circle, rgb(255, 0, 225) 0%, rgb(167, 37, 179) 20%, rgb(71, 9, 87) 100%);
}
.button_brown {
    color: white;
    background: radial-gradient(circle, rgb(255, 145, 0) 0%, rgb(168, 67, 0) 20%, rgb(77, 33, 9) 100%);
}
.button_gray {
    color: white;
    background: radial-gradient(circle, rgb(231, 231, 231) 0%, rgb(146, 146, 146) 20%, rgb(61, 61, 61) 100%);    
}
.button_teal {
    color: white;
    background: radial-gradient(circle, rgb(71, 226, 184) 0%, rgb(50, 158, 129) 20%, rgb(28, 87, 71) 100%);    
}
