.chat,.chat-display, .chat-input {
    display: flex;
} 

.chat {
    padding: 0.7vh;
    padding-bottom: 0.4vh;
    flex-flow: column;
    flex: auto;
}

.chat-display {
    flex: auto;
    background: rgba(58, 103, 138, 0);
    background: linear-gradient(0deg, rgba(58, 138, 137, 0.672) 0%, rgba(58, 138, 137, 0.318) 70%,rgba(0, 0, 0, 0) 100%);
    border: 1px solid black;
    padding: 1vw;
    border-radius: 1vw 1vw 0 0;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    box-shadow: rgba(0, 0, 0, 0.459) 0.3vw 0.3vw 0;
    overflow: auto;
}

.chat-input {
    flex-flow: row;
    padding: 1vh;
    padding-bottom: 0;
    padding-left: 0;
    align-items: center;
    justify-content: flex-start;
}

.chat-input * {
    font-size: var(--small-font-size);
}

.chat-room {
    border: 1px solid white;
    width: fit-content;
}

.chat-input-box {
    flex: auto;
    border-style: none;
    background-color: rgba(0, 0, 0, 0.545);
    color: white;
    margin-right: 1vh;
    border-radius: 0 1vw 1vw 0;
    padding-left: 2vh;
    padding-right: 2vh;
    border: 1px solid white;
    height: 100%;
    min-width: 4ch;
}

.chat-input-button {
    width: fit-content;
    height: fit-content;
}


.chatInputBox::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(54, 54, 54);
    opacity: 1; /* Firefox */
    text-shadow: none;
  }
  .chatInputBox:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(54, 54, 54);
    text-shadow: none;
  }
  .chatInputBox::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(54, 54, 54);
    text-shadow: none;
  }


 .message {
    font-family:'Arial Narrow';
    /*font-size: max(2em, 3vw); */
    margin: 0.2vw;
    padding: 0.2vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 0.5vw;
    background-color: rgba(0, 0, 0, 0.267);
    padding: 1vh;
    
}
.message * {
    color: white;
    text-shadow:
    -2px -2px 0 #000,  
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000;
     word-break: break-all;
    }

.message-date {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-right: 1vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: var(--small-font-size);
    color: rgb(255, 183, 0);
}

.message-uname {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: var(--base-font-size);
    color: yellow;
}

.message-text {
    padding-top: 0;
    margin-top: 0;
    font-size: var(--base-font-size);
}



@media screen and (orientation: portrait) {
    
    
}
  
@media screen and (orientation: landscape) {

} 