.quartoLogo {
    font-family: fantasy;
    font-size: var(--logo-font-size);
    color: white;
    text-shadow:
    -2px -2px 0 #000,  
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000;
}