.user-info {
    overflow: hidden;
    position: absolute;
    z-index: 10;
    right: 0;
    background-color: brown;
    width: fit-content;
    height: fit-content;
    padding-left: 1ch;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.459) 0.5ch 0.5ch 0;
}
.user-info-table {
    width: fit-content;
    height: fit-content;
    background-color: rgb(0, 66, 66);
    list-style: none;
    font-family: monospace;
}


.user-info-table td {
    text-align: right;
    color: white;
    background-color: rgb(3, 143, 143);
    padding: 0.5vh;
    font-size: var(--tiny-font-size);
}
